/* reset css */
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;  
  }
  
  html {
      scroll-behavior: smooth;
      font-family: Arial, Helvetica, sans-serif
      color: #C3B091;
      /* font-size: 10px; */
  }
  
  .clear{
      clear: both;
  }
  
  /*#main {
      padding: 50px;
  
  }*/
  
  #header {
      height: 70px;
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
  }
  
  #logo{
      float: left; 
      margin-left: 30px; 
      /* width: auto; */
      height: 30px;
  }
  
  #nav {
      float: right;
  }
  
  /*-----------------Nar bav---------------------------*/
  
  #nav li { 
      display: inline-block;
      /* float: right; */
      position: relative;
      list-style-type: none;
      margin-top: 2px;
      text-align: right;
      transition: transform 0.5s ease-out;
      vertical-align: top;
  }
  /* css khi an vao cac nut tao hieu ung */
  #nav a:hover,
  #nav a:active {
      color: green;
  }
  
  #nav a:hover,
  #nav a:active {
      color: #6B4423;
  }
  
  #nav a:hover,
  #nav a:active {
      letter-spacing: 5px;
  }
  
  #nav a:after,
  #nav a:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#fff, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
      opacity: 0;
  }
  
  #nav a:after,
  #nav a:before {
      border: 1px solid green;
  }
  
  #nav a:after,
  #nav a:before {
      border: 1px solid #6B4423;
  }
  
  #nav a:hover:after,
  #nav a:hover:before {
      backface-visibility: hidden;
      transition: width 350ms ease-in-out;
      width: 70%;
      opacity: 1;
  }
  /* css khi an vao cac nut tao hieu ung */
  
  .subnav {
      display: none;
      position: absolute;
  }
  
  #nav li:hover .subnav {
      display: block;
  }
  
  /*---------------------------dropdown-----------------------------------------*/
  .subnav li {
      margin-left: 0 !important;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 2px 4px 2px  rgba(0, 0, 0, 0.2);
      padding: 12px 16px; 
      z-index: 1;
      text-align: center;
      font-size: 5em;
  }
  
  #nav li a{
      text-decoration: none;
      display: block;
      color: rgb(13, 26, 38);
      font-size: 18px;
      letter-spacing: 1px;
      margin: 0 20px;
      padding: 4px;
      text-transform: uppercase;
      transition: all 0.5s ease;
  } 

.about-list {
    margin: 100px;
    display: flex;
    align-items: center;
}

.about-image{
    padding: 10px;
}